
body {
	background:#F0F0F0;
	margin: 0px;
	padding: 0px;
	background: #3D5D68 url(images/img01.jpg) repeat-x;
	font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #333333;
}
h1 {
	color: #0040FF;
}
.boxed {
  border: 1px solid green ;
}
.saying {
	font-weight: bold;
	font-size: 36px;
}

.links {
	font-weight: bold;
	font-size: 36px;
	color: #FFFFFF;
	border-style: solid;
	border-color: #0033FF;
	background-color: #0033ff;
}
#sidebar {
    width : 300px;
    float : left;
}
#main-contents {
    width : 660px;
    float : left;
}
#hello {
	color: yellow;
}
#goodbye {
	color: blue;
}
aside {
    -moz-border-radius: 15px; /* those two declaration are to get round boders for the asides, as in fig 3-10-5, across browsers */
    border-radius: 15px;
}

footer {
    clear : both;
}