body {
	background:#F0F0F0;
}
h1 {
	color: pink;
}
.saying {
	font-weight: bold;
	font-size: 36px;
}

.links {
	font-weight: bold;
	font-size: 42px;
	color: #FFFFFF;
	border-style: solid;
	border-color: #0033FF;
	background-color: #0033ff;
}
#hello {
	color: yellow;
}
#goodbye {
	color: blue;
}