
body {
	margin: 0px;
	padding: 0px;
	font: 13px Helvetica;
	color: white;
	background: url(../images/chalkboard.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	color: #0040FF;
}
.boxed {
  border: 1px solid green ;
}
.saying {
	font-weight: bold;
	font-size: 36px;
}

.links {
	font-weight: bold;
	font-size: 36px;
	color: #FFFFFF;
	border-style: solid;
	border-color: #0033FF;
	background-color: #0033ff;

	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
}

#biopicture-container {
	max-width:300px; 

	margin-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
}

#biopicture-container img {
	max-width: 100%;
}

#sidebar {
    width : 300px;
    float : left;
}
.main-contents {
    width : 660px;
    float : left;
}
#header {
	clear: both;
}
#header img {
	max-height: 100%;
	max-width: 100%;
}
#banner {
	float: left;
	display: block;
	max-height: 20%;
	max-width: 40%;
}
#picture {
	float: left;
	display: block;
	max-height: 33%;
	max-width: 45%;
}
aside {
    -moz-border-radius: 15px; /* those two declaration are to get round boders for the asides, as in fig 3-10-5, across browsers */
    border-radius: 15px;
}

footer {
    clear : both;
}

.center {
	text-align: center;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
